body {
  background-image: url(/images/dailystamp_corner.gif);
  background-position: top right;
  background-repeat: no-repeat;
}

#stamp_name {
  font-size: 20px;
  width: 500px;
}

#colors {
  margin: 30px 0;
}

#colors .color {
  float: left;
  margin-right: 20px;
}

#colors .radio_button {
  text-align: center;
}

#stamp_images {
  margin: 30px 0;
}

#stamp_images .stamp_image {
  float: left;
  margin-right: 10px;
}

#stamp_images .radio_button {
  text-align: center;
}

#stamp_images .delete {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}
