#stamp_name {
  font-size: 20px;
  width: 500px;
}

#colors {
  margin: 20px 0;
}

#colors .color {
  float: left;
  margin-right: 20px;
}

#colors .radio_button {
  text-align: center;
}

#stamp_images {
  margin: 20px 0;
}

#stamp_images .stamp_image {
  float: left;
  margin-right: 10px;
}

#stamp_images .radio_button {
  text-align: center;
}

#modal_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#modal_window {
  position: fixed;
  z-index: 102;
  display: none;
  top: 50%;
  left: 50%;
  background-color: #FFF;
}
