#logo {
  display: block;
  margin: 40px 0;
  margin-bottom: 50px;
}

#user_info {
  margin-right: 80px;
}

h2 {
  font-weight: normal;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
}

form input {
  font-size: 20px;
}

form #stamp_name {
  width: 330px;
}

#container {
  width: 670px;
  max-width: 670px;
}

#side {
  float: right;
  padding-top: 10px;
}

#highlights {
  background-color: #EEE;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: solid 2px #CCC;
  margin-top: 23px;
  padding-bottom: 15px;
}

#highlights h4 {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 5px;
  color: #999;
  font-weight: normal;
  letter-spacing: 0.2em;
  border-bottom: solid 1px #999;
}

#highlights .stamp {
  padding: 3px 5px;
  font-size: 12px;
  border-bottom: solid 1px #999;
}

#highlights .stamper {
  float: left;
  padding-left: 5px;
  padding-top: 3px;
}

#highlights .stamp_details {
  margin-left: 35px;
  padding-top: 3px;
}

#highlights .score {
  font-size: 10px;
  color: #777;
}

#new_stamp {
  width: 490px;
  max-width: 490px;
}

#suggestions {
  margin-top: 20px;
  margin-right: 40px;
  background-color: #EEE;
  border: solid 3px #CCC;
  padding: 0 20px;
  font-size: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#suggestions p {
  margin-top: 8px;
}

#suggestions h3 {
  font-size: 22px;
  color: #AAA;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}

#suggestions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#suggestions li {
  margin: 0;
  padding: 5px 0;
}

#suggestions li, #suggestions li a, #suggestions li a:hover {
  color: #444;
  text-decoration: none;
}