<p id="user_info">
  <% if logged_in? %>
    Welcome <%=h current_user.username %>! Not you?
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "log in", login_path %>.
  <% end %>
</p>
